html {
  background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=10) no-repeat center top;
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 2rem;
  min-height: calc(100vh - 100px);
  align-items: center;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}
.date-container {
  width: 100%;
  font-weight: bold;
  min-height: 100px;
  margin-top: 100px;
  font-family: "Lato";
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.weekday {
  font-size: 6rem;
}
.weekday p {
  margin: 15px 0;
}
.date {
  font-size: 3.5rem;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}
.date p {
  margin: 0;
  margin-bottom: 10px;
}
.clock {
  width: 38rem;
  height: 38rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
  background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 90%;
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
  width: 50%; 
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  border-radius: 15px;
  transition: all 0.05s cubic-bezier(0.35, 3.12, 0.58, 1);
  transform-origin: right;
  transform: rotate(90deg);
}
.hour-hand {
  width: 30%;
  left: 20%;
}
.no-transition {
  transition: none;
}
.midpoint {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  left: 50%;
  top: 50.5%;
  transform: translate(-50%, -50%);
}
#allow-weather {
  background-color: #29B6F6;
  color: white;
  width: 300px;
  height: 65px;
  /* border: 2px solid #0D47A1; */
  border: 3px solid #212121;
  box-shadow: 0 2px 3px black;
  border-radius: 50px;
  font-size: 3rem;
}
#allow-weather:hover {
  background-color: #0091EA;
}
.weather-container {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 2.8rem;
  font-family: "Lato";
}
.city-name {
  font-family: "Vollkorn";
}
.city-name p {
  margin: 10px;
}
.weather-status p {
  margin: 0;
}
.weather-icon img {
  width: 60px;
}